<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd ">

	<!-- 解析返回JSON (后台返回json格式到前台要配置这个内容) 同时也需要加 jackson-xxx-2.9.4 的三个jar包(最好用新版本的jar包) -->
	<mvc:annotation-driven>
		<!-- 如果sql语句有需要返回String转json格式的就要将S..M..C.. 的bean放在前面,不然默认先执行字符串转换然后再是json格式转换,这样的转换会导致带有双引号转不了json格式 -->
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter" /> <!--先进行string转换 -->
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 启用注解 -->
	<context:annotation-config></context:annotation-config>

	<!-- 扫描这个文件夹下的类表示是注解的controller。 -->
	<!-- 表示只需要扫描这个包下的类 -->
	<context:component-scan base-package="com.yr.controller"
		use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 配置页面渲染器 -->
	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<!-- 配置结果视图的前缀和后缀 ，页面路径默认在webContent下 /test/表示jsp文件在test文件夹 -->
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 静态拦截器 -->
	<mvc:default-servlet-handler />

	<!-- location 表示工程路径 mapping 表示需要映射的目录,加载js,css,img -->
	<mvc:resources location="/js/" mapping="/js/*" />
</beans>
